/.bundle/
/.yardoc
/Gemfile.lock
/gemfiles/*.gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
handcuffs-*.gem
.rspec_status
.ruby-version
.tool-versions
.DS_Store
spec/internal/log/
spec/internal/db/*.sqlite3
spec/internal/.env
