name: Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
permissions:
  contents: read
jobs:
  test:
    strategy:
      matrix:
        os: ['ubuntu-latest']
        ruby: ['3.0', '3.1', '3.2', '3.3']
        postgres: ['16-bullseye', '15-bullseye', '14-bullseye', '13-bullseye', '12-bullseye']
    name: Ruby ${{ matrix.ruby }} - PostgreSQL ${{ matrix.postgres }}
    # https://docs.github.com/en/actions/learn-github-actions/expressions#example
    runs-on: ${{ matrix.os }}
    services:
      postgres:
        image: postgres:${{ matrix.postgres }}
        env:
          POSTGRES_USER: ubuntu
          POSTGRES_DB: handcuffs_test
          POSTGRES_HOST_AUTH_METHOD: trust
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
          - 5432:5432
    env:
      PGHOST: localhost
      PGUSER: ubuntu
      RAILS_ENV: test
      BUNDLER_VERSION: 2.4.22
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@d5fb7a202fc07872cb44f00ba8e6197b70cb0c55 # v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: ${{ env.BUNDLER_VERSION }}
          bundler-cache: true
      - name: Installing dependencies
        run: bundle install && cd spec/dummy && bundle install
      - name: Install Apprasals Dependencies
        run: bundle exec appraisal install && cd spec/dummy && bundle exec appraisal install
      - name: Setup Database
        run: cd spec/dummy && bundle exec rake db:create db:migrate --trace
      - name: Run Appraisals Tests
        run: bundle exec appraisal rspec
      - name: Run Dummy App Tests
        run: cd spec/dummy && bundle exec appraisal bin/rspec
